@model Planning_platform.Entities.Announcement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Просмотр</h1>

<div>
    <h4>Объявления</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Текст объявления
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
           Дата
        </dt>
        <dd class = "col-sm-10">
            @Model.Date.ToShortDateString()
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться к списку</a>
</div>
