@using Planning_platform.Entities
@model Planning_platform.Entities.Lesson

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var classes = ViewData["Classes"] as IEnumerable<Class>;
    // int currentGroup = (int)ViewData["CurrentGroup"];
    // var cat = categories
    //         .FirstOrDefault(g => g.Id == @Model.Class_id).Num_of_class;

    // foreach (var i in classes)
    // {
    //     <h5>@i.Num_of_class @i.Letter_of_class</h5> 
    // }
}


<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    @foreach (var item in classes)
    {
        <a class="dropdown-item"
           asp-action="Index"
           asp-controller="Lessons"
        >@item.Num_of_class
           </a>
    }
</div>

<h1>Create</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Day_of_week" class="control-label"></label>
                <input asp-for="Day_of_week" class="form-control" />
                <span asp-validation-for="Day_of_week" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number_on_day" class="control-label"></label>
                <input asp-for="Number_on_day" class="form-control" />
                <span asp-validation-for="Number_on_day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject_id" class="control-label"></label>
                <input asp-for="Subject_id" class="form-control" />
                <span asp-validation-for="Subject_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="teacher_id" class="control-label"></label>
                <input asp-for="teacher_id" class="form-control" />
                <span asp-validation-for="teacher_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class_id" class="control-label"></label>
                <input asp-for="Class_id" class="form-control" />
                <span asp-validation-for="Class_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
