@using Planning_platform.Entities
@model Planning_platform.Entities.Lesson

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var classes = ViewData["Classes"] as IEnumerable<Class>;
    var subjects = ViewData["Subjects"] as IEnumerable<Subject>;
    var teachers = ViewData["Teachers"] as IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>;

}




<h1>Create</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <select asp-for="Day_of_week">
                    <option  value="Monday">Monday</option>
                    <option value="Thusday">Thusday</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Number_on_day" class="control-label"></label>
                <input asp-for="Number_on_day" class="form-control" />
                <span asp-validation-for="Number_on_day" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="teacher_id" class="custom-select my-1 mr-sm-2">
                    @foreach (var item in teachers)
                    {
                        <option value=@item.Id>@item.Email</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select asp-for="Subject_id" class="custom-select my-1 mr-sm-2">
                    @foreach (var item in subjects)
                    {
                        <option value=@item.Id>@item.Subject_name</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-4">
                <select asp-for="Class_id" class="custom-select my-1 mr-sm-2">
                    @foreach (var item in classes){
                        <option value=@item.Id >@item.Num_of_class @item.Letter_of_class</option>
                    }
                </select> 
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
