@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<table class="table">
    @{foreach (var role in Model){
        <tr>
                @{
                    if (role.Name == "moderator")
                    {
                        <td>Модератор</td>
                    }
                    else if (role.Name == "teacher")
                    {
                        <td>Учитель</td>
                    }
                    else if (role.Name == "student")
                    {
                        <td>Ученик</td>
                    }
                    else
                    {
                        <td>@role.Name</td>
                    }
                }
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
        }
    }
        </table>
<a asp-action="Create">Добавить роль</a>
<a asp-action="UserList">Список пользователей</a>