@model Planning_platform.Entities.Homework

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Редактирование</h1>

<h4>Домашнего задания</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="PlanId" />
@*                 <label asp-for="PlanId" class="control-label">План</label>
                <select asp-for="PlanId" class="form-control" asp-items="ViewBag.PlanId" type="hidden"></select>
                <span asp-validation-for="PlanId" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label">Текст</label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
